
ul{
    list-style-type: none;
}
.topnav {
    background-color: black;
    overflow:hidden;
}

.topnav a{
    display: inline-flexbox;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover{
    background-color: gray;
    color:blue;
}

.topnav a.active{
    background-color: pink;
    color:blue;
}