
body {
    padding-left: 25px;
    padding-right: 25px;
}

ul{
    list-style-type: none;
}

.topnav {
    background-color:goldenrod;
    overflow:hidden;
    width:100%;
    top:0;
    }

.topnav a{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover{
    background-color: #969279;
    color:#ffffff;
}

.topnav a.active{
    background-color:#A63411;
    color:#ffffff;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 6rem;
}

footer{
    display: grid;
    place-items: center;
    margin-bottom: 0px; 
    background-color: goldenrod;
    position:absolute;
    bottom: 0;
    height:6rem;
    text-align: center;
    width: 100%;
    padding-top:15px;
}


.bottom-nav a{
    color: white;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

}

footer .footer-{
    color:white; 
    text-align: center; 
}


