
ul{
    list-style-type: none;
}

.topnav {
    background-color:goldenrod;
    overflow:hidden;
    width:100%;
    top:0;}

.topnav a{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover{
    background-color: #969279;
    color:#5f4221;
}

.topnav a.active{
    background-color:#5f4221;
    color:#e4dfc1;
}

.page-container {
    position: relative;
    min-height: 100vh
}

.content-wrap {
    padding-bottom: 6rem;
}

footer{
    background-color: goldenrod;
    position:absolute;
    bottom: 0;
    height:6rem;
    text-align: center;
    width: 100%;
}

.bottom-nav a{
    padding-left: 15px;
    padding-right: 15px;
}

footer .footer-text{
    color:white; 
    text-align: center;   
}