
@font-face {
    font-family: 'Noodle';
    src: url('../assets/noodle-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;}


body {
    background-color: black;
    color: white
}
.intro-container {
    display:flex;
    flex-direction: row;
    gap: 30px;
    align-content:flex-start;    
}

h1 {
    font-family: Noodle;
    font-size: 50px;
    text-align: center;
}

.box {
    display: flex;
    flex:1;
}

.intro-box p{
    text-align: justify;
}

#intro-img {
    display: grid;
    max-width: 90%;
    max-height: 90%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #A63411;
    margin: 1em 0;
    padding: 0;
}

h2{
    font-family: Noodle;
    font-size: 35px;
    text-align: center;
}
.facts-container {
    display:grid;
    grid-template-columns: 100%;
    justify-items: center;
}

.count-title {
    text-align: center;
}

.list {
    display:grid;
    text-align: justify;
    grid-template-rows: 20% 80%;

}

footer {
    color: white;
}