body {
    background-color: black;
    color: white;
}

.noodles img{
    width: 75;
    height: 120;
}

.four-noodle-container ul{
    display:grid;
    grid-template-columns: auto auto auto auto;
    padding:10px;
    border-bottom: 5px solid dotted white;
}

.three-noodle-container ul{
    display:grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}