@font-face {
    font-family: 'Noodle';
    src: url("../assets/Noodle-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
    
body {
    background-image: url("https://t4.ftcdn.net/jpg/06/12/74/13/360_F_612741366_UVdPNjN34cCJDFKIlUokyBWpGiKeRKlq.jpg");
    background-position: bottom 100px right;
    background-repeat: no-repeat;
    background-color: #070300;
    color:white;
}
p {
    color:white;
}

#meet-the-team-container h1{
    font-family: Noodle;
    display: flex;
    justify-content: center;
    font-size: 75px;
}


.team-member h6{
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding: 0;
    margin:0
}

.team-member img{
    display:flex;
    width: 200px;
    height: 200px;
}

#team-container {
    display:flex;
    justify-content: center;
    vertical-align: middle;
}

#noodle-bio {
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding-left: 50px;
    padding-right: 50px;
}

.noodles-logo {
    display: flex;
    justify-content:center;
    padding-top: 50px;
    padding-bottom: 0;
}
