body {
    background-image: url("https://t4.ftcdn.net/jpg/06/12/74/13/360_F_612741366_UVdPNjN34cCJDFKIlUokyBWpGiKeRKlq.jpg");
    background-size: width 200 height 200;
    background-position: bottom 100px right;
    background-repeat: no-repeat;
    background-color: #070300;
    background-position: right bottom;
    color:white;
}
p {
    color:white;
}
#meet-the-team h1{
    display: flex;
    justify-content: center;
}

.team-member h6{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.team-member img{
    display:flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: flex-start;
}

#team-container {
    display:flex;
    justify-content: center;
}